.goodKnow
    background: #fbf9f9
    background-size: no-repeat
    background-size: cover
    background-position: center
    min-height: 920px

.goodKnow_box
    display: flex
    justify-content: center
    

.goodKhow_title
    height: 28px
    margin: 83px auto 30px
    text-align: center
    color: #000000
    font-family: 'Helvetica Neue Cyr Bold' 
    font-size: 36px
    font-weight: 700
    letter-spacing: 2.7px
   
.goodKhow_line
    width: 100px
    height: 3px
    background-color: #fedc00
    margin: 0 auto 64px





