.ourCoordinates
    min-height: 940px
    padding: 107px 0 117px 
    background-color: #ffffff

.ourCoordinates_header
    height: 34px
    color: $color_section-black
    font-family: $font_helveticaBold
    font-size: 36px
    font-weight: 700
    letter-spacing: 2.69px
    margin: 0 auto
    text-align: center

.ourCoordinates_line
    width: 100px
    height: 3px
    background-color: #fedc00
    margin: 29px auto 95px 

.ourCoordinates_adress
    display: flex
    padding-bottom: 30px
    justify-content: center
    
.ourCoordinates_adress-img
    margin: 0 24px 15px 70px

.ourCoordinates_link
    margin: 3px 0 0 0
    height: 18px
    color: $color_section-black
    font-family: $font_helveticaBold
    font-size: 18px
    font-weight: 500
    letter-spacing: 0.9px
    text-decoration: none

.ourCoordinates_map-img
    width: 100%
    min-height: 600px
   






   

  
