
.work
    background: url('../../images/ourWork/main_work.png')
    background-size: no-repeat
    background-size: cover
    background-position: center
    min-height: 900px
    padding: 94px 0 149px 0

.work_block
    display: flex
    

.work_info
    margin: 0 auto
    text-align: center
    color: #ffffff
    font-family: 'Helvetica Neue Cyr Black'
    font-size: 36px
    font-weight: 700
    letter-spacing: 2.7px
    padding-top: 

.work_line-min
    width: 100px
    height: 3px
    background-color: #fedc00
    margin: 0 auto
    margin-top: 30px
    margin-bottom: 82px
    
.work_block-box
     margin-right: 40px
     margin-bottom: 40px

.work_block-ramka
    display: flex
    flex-direction: column
    text-align: center
    border: 2px solid #fedc00
    padding: 26px 0 45px 0

.work_line-max
    width: 200px
    height: 3px
    background-color: #fedc00
    margin: 0 auto


.work_block-icons
    padding:  0 33px 15px


.work_img-1
    padding: 5px
    
    
.work_lable
    height: 23px
    color: #ffffff
    font-size: 30px
    font-weight: 400
    letter-spacing: 3px
    margin-top: 20px


    /*----------------------*/

.work_detail
    display: flex
    justify-content: space-between 

    
    

