

.product
    min-height: 890px
    background: url('../../images/productCatalog/Фон.png')

.product_items
    margin-top: 146px
    

.product_list
    height: 34px
    color: #000000
    font-family: 'Helvetica Neue Cyr Bold'
    font-size: 36px
    font-weight: 700
    letter-spacing: 2.7px
    margin: 0 auto
    text-align: center
    margin-top: 103px

.promo_line
    width: 100px
    height: 3px
    background-color: #fedc00
    margin: 0 auto
    margin-top: 30px


    //block
.product_fon
    width: 340px
    height: 160px
    background-color: #b4b4b4
    opacity: 0.6
    z-index: 2
    position: absolute
    bottom: -350px
    
.product_grout
    width: 340px
    height: 350px
    z-index: 1
    position: absolute
    
.product_block
    position: relative

.product_info   
    display: flex
    flex-direction: column
    margin-top: 32px
    margin-left: 78px

.product_name
    height: 23px
    color: #000000
    font-family: 'Helvetica Neue Cyr Bold' 
    font-size: 30px
    font-weight: 500
    line-height: 30px
    // Text style for "БЕТОН"
    letter-spacing: 1.5px

.product_line
    margin: 23px 0 21px 5px
    width: 100px
    height: 3px
    background-color: #fedc00
    
.product_class
    height: 15px
    color: #000000
    font-family: 'Helvetica Neue Cyr Bold' 
    font-size: 20px
    font-weight: 500
    line-height: 36px
    letter-spacing: 1px

    
    


