
.productCards_lable
    height: 19px
    color: $section_color-white
    font-family: $font_helveticaBold
    font-size: 20px
    letter-spacing: 2.03px
    padding-top: 71px
    text-align: center

.productCards_title
    height: 28px
    color: $background_section-grayWhite
    font-family: $font_helveticaBold
    font-size: 36px
    font-weight: 700
    letter-spacing: 2.71px
    padding: 74px 0 64px 0
    text-align: center

.productCards_line
    width: 100px
    height: 3px
    background-color: $background_line-btn
    margin: 0 auto

.productCards_block
    display: flex
    margin: 41px 0 233px 0
    
.productCards_box
    display: flex
    flex-direction: column

.productCards_box-info
    display: flex
    justify-content: space-around
    width: 684px
    min-height: 519px
    background-color: $section_color-white
    position: relative
    
.productCards_photo
    width: 158px
    height: 173px
   
.productCards_box-main
    height: 519px

.productCards_list
    height: 17px
    font-family: $font_helveticaThin
    font-size: 18px
    font-weight: 700
    line-height: 30px
    letter-spacing: 0.45px
    margin-top: 43px 
    list-style-type: none
        
.productCards_list-type
    height: 17px
    font-family: $font_helveticaThin
    font-size: 18px
    font-weight: 700
    letter-spacing: 0.45px
    margin: 43px 33px 0 0
    list-style-type: none

.productCards_btn-block
    position: absolute
    bottom: 16px
   
.productCards_btn
    font-family: $font_helveticaBold
    font-size: 20px
    letter-spacing: 1px
    width: 320px
    height: 60px
    background-color: $background_line-btn
    border: none

/*------productApplication------------*/

.productApplication
    background-color: $background_section-grayLite

.productApplication_block
    display: flex
    flex-direction: column

.productApplication_header
    height: 26px
    font-family: $font_helveticaBold
    font-size: 36px
    font-weight: 700
    letter-spacing: 2.7px
    margin: 76px 0 30px 0 
    text-align: center

.productApplication_line
    margin: 0 auto
    width: 101px
    height: 4px
    background-color: $background_line-btn

.productApplication_text
    width: 919px
    font-family: $font_helveticaThin
    font-size: 18px
    font-weight: 700
    line-height: 29.99px
    letter-spacing: 0.45px
    margin: 30px 0 0 150px


/*productClass*/

.productClass
    background-color: $background_section-grayLite
    padding: 135px  0 115px 0

.productClass_header
    margin-top: 
    font-family: $font_helveticaBold
    font-size: 36px
    font-weight: 700
    letter-spacing: 2.71px
    text-align: center
    
.productClass_line
    width: 101px
    height: 3px
    background-color: $background_line-btn 
    margin: 38px auto 0 

.productClass_box
    padding-top: 83px
    
.productClass_btn
    font-family: $font_helveticaBold
    font-size: 20px
    letter-spacing: 1px
    width: 320px
    height: 60px
    background-color: $background_line-btn 
    border: none

.productClass_btn-block
    display: flex
    justify-content: center 
    margin: 189px 0 0 9px
    
     