header {
    color: $main-color;
}

h1 {
    color: rgb(141, 141, 202);
    background-image: url("../../images/icons/TSementnyj-rastvor-720x478.jpg");
}

.new {
    color: rgb(93, 120, 144);
    display: flex;
    transform: translate(-50%, -50%);
    width: 100px;
    border-width: 1px;
    
    @media (max-width: 768px) {
        width: 70px;
    }
}

.class {
    @media (max-width: 768px) {
        display: block;
    }
}
